<!DOCTYPE html>

<html>

<head>

<title>My Data Dashboard</title>

<!--import script files needed from plotly and bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

  

<body>

<!--navbar links-->  

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
   
   <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/index">EVOLUTION OF CASES AND DEATHS/DAY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/index_panel_2">EVOLUTION OF HOSPITALS</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="https://www.mscbs.gob.es/profesionales/saludPublica/ccayes/alertasActual/nCov-China/situacionActual.htm">Ministerio de Sanidad y Consumo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.udacity.com">Udacity</a>
      </li>
    </ul>
  </div>



</nav>

<!--middle section-->       
<div class="row">

    <!--social media buttons column-->      
    <div class="col-1 border-right">
        <div id="follow-me" class="mt-3">
            <a href="https://www.linkedin.com/in/jesus-mira-aldao/">
                <img src="/static/img/linkedinlogo.png" alt="linkedin" class="img-fluid mb-4 ml-2">
            </a>
            <a href="https://github.com/jmiraal">
                <img src="/static/img/githublogo.png" alt="github" class="img-fluid ml-2">
            </a>
        </div>
    </div>

    <!--visualizations column-->        
    <div class="col-11">

        <!--chart descriptions-->       
        <div id="middle-info" class="mt-3">
            <h1 id="tag-line" class="text-muted">COVID-19 EVOLUTION IN SPAIN BY REGIONS </h1>
            <h4 id="tag-line" class="text-muted">The data are downloaded from the 
                  <a href="https://github.com/datadista/datasets/tree/master/COVID%2019">datadista github repository.</a>
            </h4>
            <h4 id="tag-line" class="text-muted">They are updated daily according to data reported by 
                  <a href="https://www.mscbs.gob.es/profesionales/saludPublica/ccayes/alertasActual/nCov-China/situacionActual.htm">the Spanish Ministry of Health.</a>
            </h4>
            
        </div>
        
        <!--charts-->       
        <div id="charts" class="container mt-3 text-center">
                    
            <!--top two charts-->       
            <div class="row">
                <div class="col-6">
                    <div id="{{ids[0]}}"></div>
                </div>
                <div class="col-6">
                    <div id="{{ids[1]}}"></div>
                </div>
            </div>

            <!--bottom two charts-->        
            <div class="row mb-6">
                <div class="col-6"> 
                    <div id="chart3">
                        <div id="{{ids[2]}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="chart4">
                        <div id="{{ids[3]}}"></div>
                    </div>
                </div>
            </div>
                  
            <!--top two charts-->       
            <div class="row">
                <div class="col-6">
                    <div id="{{ids[4]}}"></div>
                </div>
                <div class="col-6">
                    <div id="{{ids[5]}}"></div>
                </div>
            </div>

            <!--bottom two charts-->        
            <div class="row mb-6">
                <div class="col-6"> 
                    <div id="chart3">
                        <div id="{{ids[6]}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="chart4">
                        <div id="{{ids[7]}}"></div>
                    </div>
                </div>
            </div>
          
          <!--top two charts-->       
            <div class="row">
                <div class="col-6">
                    <div id="{{ids[8]}}"></div>
                </div>
                <div class="col-6">
                    <div id="{{ids[9]}}"></div>
                </div>
            </div>

            <!--bottom two charts-->        
            <div class="row mb-6">
                <div class="col-6"> 
                    <div id="chart3">
                        <div id="{{ids[10]}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="chart4">
                        <div id="{{ids[11]}}"></div>
                    </div>
                </div>
            </div>
            
            <!--top two charts-->       
            <div class="row">
                <div class="col-6">
                    <div id="{{ids[12]}}"></div>
                </div>
                <div class="col-6">
                    <div id="{{ids[13]}}"></div>
                </div>
            </div>

            <!--bottom two charts-->        
            <div class="row mb-6">
                <div class="col-6"> 
                    <div id="chart3">
                        <div id="{{ids[14]}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="chart4">
                        <div id="{{ids[15]}}"></div>
                    </div>
                </div>
            </div>
            
            <!--top two charts-->       
            <div class="row">
                <div class="col-6">
                    <div id="{{ids[16]}}"></div>
                </div>
                <div class="col-6">
                    <div id="{{ids[17]}}"></div>
                </div>
            </div>

            <!--bottom two charts-->        
            <div class="row mb-6">
                <div class="col-6"> 
                    <div id="chart3">
                        <div id="{{ids[18]}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="chart4">
                        <div id="{{ids[19]}}"></div>
                    </div>
                </div>
            </div>
          
             <!--top two charts-->       
            <div class="row">
                <div class="col-6">
                    <div id="{{ids[20]}}"></div>
                </div>
                <div class="col-6">
                    <div id="{{ids[21]}}"></div>
                </div>
            </div>

            <!--bottom two charts-->        
            <div class="row mb-6">
                <div class="col-6"> 
                    <div id="chart3">
                        <div id="{{ids[22]}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="chart4">
                        <div id="{{ids[23]}}"></div>
                    </div>
                </div>
            </div>
          
            <!--top two charts-->       
            <div class="row">
                <div class="col-6">
                    <div id="{{ids[24]}}"></div>
                </div>
                <div class="col-6">
                    <div id="{{ids[25]}}"></div>
                </div>
            </div>

            <!--bottom two charts-->        
            <div class="row mb-6">
                <div class="col-6"> 
                    <div id="chart3">
                        <div id="{{ids[26]}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="chart4">
                        <div id="{{ids[27]}}"></div>
                    </div>
                </div>
            </div>
          
            
             <!--top two charts-->       
            <div class="row">
                <div class="col-6">
                    <div id="{{ids[28]}}"></div>
                </div>
                <div class="col-6">
                    <div id="{{ids[29]}}"></div>
                </div>
            </div>

            <!--bottom two charts-->        
            <div class="row mb-6">
                <div class="col-6"> 
                    <div id="chart3">
                        <div id="{{ids[30]}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="chart4">
                        <div id="{{ids[31]}}"></div>
                    </div>
                </div>
            </div>
          
             <!--top two charts-->       
            <div class="row">
                <div class="col-6">
                    <div id="{{ids[32]}}"></div>
                </div>
                <div class="col-6">
                    <div id="{{ids[33]}}"></div>
                </div>
            </div>

            <!--bottom two charts-->        
            <div class="row mb-6">
                <div class="col-6"> 
                    <div id="chart3">
                        <div id="{{ids[34]}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="chart4">
                        <div id="{{ids[35]}}"></div>
                    </div>
                </div>
            </div>
          
             <!--top two charts-->       
            <div class="row">
                <div class="col-6">
                    <div id="{{ids[36]}}"></div>
                </div>
                <div class="col-6">
                    <div id="{{ids[37]}}"></div>
                </div>
            </div>

            <!--bottom two charts-->        
            <div class="row mb-6">
                <div class="col-6"> 
                    <div id="chart3">
                        <div id="{{ids[38]}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="chart4">
                        <div id="{{ids[39]}}"></div>
                    </div>
                </div>
            </div>

        </div>
    <div>
</div>

<!--footer section-->               
<div id="footer" class="container"></div>

      
      

</body>

<script>

$(document).ready(function() {
    $('a[href$="' + location.pathname + '"]').addClass('active');
});
</script>


<footer>

    <script type="text/javascript">
        // plots the figure with id
        // id much match the div id above in the html
        var figures = {{figuresJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        }
    
</script>
 
  
  
</footer>

   
</html>